.li{
    list-style: none;
}
.li:not(:last-child) {
    margin-right: 10px;
}

.link{
    text-decoration: none;
    color: #80BFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.linkActive{
    color: white;
}